#
# Configuration for FPC
#

menuconfig INPUT_FINGERPRINT
	bool "Fingerprints"
	help
	  Say Y here, and a list of supported fingerprints will be displayed.

if INPUT_FINGERPRINT

config INPUT_GOODIX
	tristate "Goodix fingerprint sensor Driver"
	depends on SPI_MASTER
	default n
	help
	  This is a Goodix fingerprint sensor Driver.

endif
